body {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #082d38;
  height: 5em;
  width: 100%;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.header h1 {
  font-size: 1.5em;
  color: rgb(52, 165, 52);
  text-align: center;
}

.header img {
  height: 4em;
  padding: 0.3em;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5em);
}

#snake {
  width: 16em;
  height: 16em;
}
